extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= titulo

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label(for="nombre").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Tu nombre
                        input(type="text", placeholder="Tu nombre", name="nombre")#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400
                    div
                        label(for="email").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Email de Registro
                        input(type="email", placeholder="Tu Email", name="email")#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400
                    div
                        label(for="password").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Password
                        input(type="password", placeholder="password", name="password")#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400
                    div
                        label(for="repetir_password").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Repetir Password
                        input(type="password", placeholder="Repetir tu password", name="repetir_password")#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400